@charset "utf-8";
@import "compass/reset";
@import "mod/icon";
@import "mod/anim";


html,
body,
.page-wrapper,
.page {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


[data-pageid="1"] {
	background-color: #45cbfd;
}

.hide{
	opacity: 0!important;
}
.none{
	display: none;
}

// 公共元素
.page {
	position: absolute;
	top: 0;left: 0;
	width: 100%;height: 100%;
	.title {
		position: absolute;
		top: 28px;
		left: 0;
		width: 100%;
		text-align: center;
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		line-height: 1.8em;

		em {
			font-size: 22px;
		}
	}

	.caption {
		width: 100%;
		height: 78px;
		padding-top: 15px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		text-align: center;
		font-size: 16px;
		color: #d08402;
		font-weight: bold;
		box-sizing: border-box;
		line-height: 1.5em;
	}
	.background {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 0;
		overflow: hidden;
		pointer-events: none;

	}
	.time-wrap{
		position: absolute;
		bottom: 0px;
		left: 0;
		width: 100%;
		height: 82px;
		z-index: 1
	}
	.timeline{
		position: absolute;
		bottom: 38px;
		left: 0;
		width: 100%;
		height: 5px;
		span{
			display: block;
			width: 100%;
			height: 5px;
			background-size: 240px auto;

		}
	}
	.timepoint{
		position: absolute;
		bottom: 6px;
		width: 70px;height: 70px;
		-webkit-border-radius: 35px;
		-webkit-transform: scale(0.3);
		-webkit-transition:all 300ms ease-out;
		&.scale{
			-webkit-transform: scale(1);
		}
		p{
			margin-top: 12px;
			line-height: 16px;
		}
	}
	.wday{
		.timeline{
			background-color: #fcb732;
			span{
				background: url(../img/timeline1.png) repeat-x;
			}
		}
		.timepoint{
			text-align: center;
			background-color: #f7ae21;
			font-size: 12px;
			color: #f7ea63;
		}
	}
	.bday{
		.timeline{
			background-color: #598d9f;
			span{
				background: url(../img/timeline2.png) repeat-x;
			}
		}
		.timepoint{
			text-align: center;
			background-color: #598d9f;
			font-size: 12px;
			color: #a1d9dc;
		}
	}

}


[data-pageid="1"] {
	z-index: 100;
	section{
		position: absolute;
		top: 0;left: 0;
		height: 100%;
		width: 100%;
	}
	.screen1{
		z-index: 4;
	}
	.screen2{
		z-index: 1;
	}
	.screen4{
		z-index: 3;
		overflow:hidden;
	}
	.screen3{
		z-index: 4;
	}
	.screen5{
		z-index: 3;
	}

	.title{
		display: none;
	}
	.caption{
		display: none;
	}
	.icon-egg{
		position: absolute;
		top: 20px;
		left: 50%;
		margin-left: -84px;
	}
	.icon-egg-break{
		position: absolute;
		top: -36px;
		left: 50%;
		margin-left: -100px;
		color: #fff;
		-webkit-transition:color 810ms ease;
	}
	.icon-smog{
		position: absolute;
		bottom: 80px;
		left: 50%;
		margin-left:-142px;
		color: #fff;
		opacity: 0;
		-webkit-transition:color 1100ms ease;
	}

	.icon-e-tips{
		position: absolute;
		top: 0;right: 0;
	}

	.icon-tips-wrap{
		position: absolute;
		bottom: 152px;
		left: 50%;
		margin-left:-88px;
		width:48px;
		height: 58px;
	}
	.icon-arrow{
		position: absolute;
		top: 0;
		right: 0;
	}
	.icon-text{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.icon-signboard {
		position: absolute;
		top: 25px;
		left: 50%;
		margin-left: -135px;
		z-index: 5;
	}

	.icon-mountain {
		position: absolute;
		bottom: 109px;
		left: 100%;
	}

	.icon-cloud {
		position: absolute;
		left: 100%;
		top: 15px;
		opacity: 0.5;
		&.small {
			top: 35px;

		}
	}

	.icon-hongmao {
		position: absolute;
		left: 50%;
		margin-left: -25px;
		top: 108px;
		z-index: 5;
		display: none;
		-webkit-transition:top 300ms ease-in;
	}

	.icon-brick1 {
		position: absolute;
		left: 0;
		bottom: 82px;
	}

	.icon-ground1 {
		position: absolute;
		left: 0;
		bottom: -1px;
		height: 83px;
	}
	.born-wrap{
		position: absolute;
		left: 50%;
		bottom: 70px;
		width: 100px;
		height: 320px;
		margin-left: -50px;

	}
	.egg-wrap{
		position: absolute;
		left: 50%;
		bottom:140px;
		margin-left: -115px;
		width: 230px;
		height: 180px;
	}
	.screen2 .egg-wrap{
		-webkit-transition: bottom 500ms linear
	}

	.icon-born {
		position: absolute;
		left: 50%;
		margin-left: -33px;
		top: 114px;
		z-index: 5;
		color: #fff;
		-webkit-transition:color 500ms ease;

		.icon-star {
			position: absolute;
			zoom: 0.5;

			&:nth-child(1) {
				left: -8px;
				top: 40px;
			}
			&:nth-child(2) {
				left: 15px;
				top: -15px;
			}
			&:nth-child(3) {
				left: 120px;
				top: 26px;
			}
			&:nth-child(4) {
				left: 130px;
				top: 90px;
			}
		}
	}

	.icon-light {
		position: absolute;
		left: 50%;
		margin-left: -160px;
		bottom: 80px;
	}

	.icon-calendar1 {
		position: absolute;
		left: 50%;
		margin-left: -90px
	}
	.boot-gift-wrap{
		position: absolute;
		bottom: 260px;
		width: 145px;height: 116px;
		// -webkit-transition:all 1500ms linear;
	}
	.icon-mushroom{
		position: absolute;
		top: 55px;
		left: 40px;
		-webkit-transition:all 300ms linear;
		.icon-star {
			position: absolute;
			zoom: 0.5;

			&:nth-child(1) {
				left: -8px;
				top: 86px;
			}
			&:nth-child(2) {
				left: 15px;
				top: -15px;
			}
			&:nth-child(3) {
				left: 120px;
				top: 86px;
			}
		}
	}
	.icon-brick{
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left: -72px;
	}
	.icon-gold{
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -28px;
	}
	.icon-well{
		position: absolute;
		bottom: 118px;
		right: -1000px;
		-webkit-transition:right 3000ms linear;
	}
	.icon-speed{
		position: absolute;
		bottom: 105px;
		left: 50%;
		margin-left: -130px;
	}

}
[data-pageid="2"] {
	z-index: 90;
	section{
		position: absolute;
		top: 0;left: 0;
		height: 100%;
		width: 100%;
		z-index: 1
	}
	.screen1{
		.icon-hongmao{
			position: absolute;
			left: 50%;
			height: 70px;
			bottom: 0;
			margin-left: -25px;
			-webkit-transition:all 300ms linear;
		}
	}
	.screen2{
		-webkit-transition:-webkit-transform 800ms ease;
		.coin-wrap{
			position: absolute;
			width: 184px;
			height: 75px;
			left: 50%;
			margin-left: -92px;
			.icon-star{
				position: absolute;
				zoom: 0.5;
				-webkit-transition:all 200ms ease;
				&:nth-child(1){
					top: 60px;
					left: 102px;
				}
				&:nth-child(2){
					top: 27px;
					right: 110px;
				}
			}
			&:nth-child(1){
				bottom: 310px;
			}
			&:nth-child(2){
				bottom: 215px;
			}
			&:nth-child(3){
				bottom: 120px;
			}
			&:nth-child(4){
				bottom: 25px;
			}
		}

		.icon-coin{
			position: absolute;
			top: 50%;left: 50%;
			margin-left: -24px;
			margin-top: -24px;
			opacity: 1;
			-webkit-transition:opacity 300ms ease;
			&.hide{
				opacity: 0
			}
		}

		.icon-p-gxmp,
		.icon-p-dcqp,
		.icon-p-pmkq,
		.icon-p-sfmp{
			position: absolute;
			left: 50%;
			margin-left: -68px;
			top: 10px;
		}

	}
	.background{
		overflow: visible;
		-webkit-transition:-webkit-transform 800ms ease;
		.bg1{
			padding-top: 173%;
			background: url(../img/p2_bg.png) no-repeat;
			background-size: 100% auto;
		}
		.bg2{
			position: relative;
			width: 100%;height: 100%;
			background-color: #36424b;
			.icon-wall{
				&:nth-child(1){
					position: absolute;
					left: 0;
					bottom: 270px;
				}
				&:nth-child(2){
					position: absolute;
					right: 30px;
					bottom: 330px;
				}
			}
		}
		.icon-brick2 {
			position: absolute;
			left: 0;
			bottom: 82px;
		}

		.icon-ground2 {
			position: absolute;
			left: 0;
			bottom: 0;
		}
		.title{
			color: #ffe746;
			top: 38px
		}
		.caption{
			color: #525f91
		}
		.icon-calendar2{
			position: absolute;
			left: 50%;
			margin-left: -122px
		}

	}
}
[data-pageid="3"] {
	z-index: 80;
	section{
		position: absolute;
		top: 0;left: 0;
		height: 100%;
		width: 100%;
		z-index: 1
	}
	.screen2{
		z-index: 10
	}
	.title{
		color: #ffe746;
		top: 38px
	}
	.caption{
		color: #525f91
	}
	.icon-jinmao-born {
		position: absolute;
		left: 50%;
		margin-left: -33px;
		bottom: 228px;
		z-index: 5;
		.icon-star {
			position: absolute;
			zoom: 0.5;

			&:nth-child(1) {
				left: -8px;
				top: 40px;
			}
			&:nth-child(2) {
				left: 15px;
				top: -15px;
			}
			&:nth-child(3) {
				left: 120px;
				top: 26px;
			}
			&:nth-child(4) {
				left: 130px;
				top: 90px;
			}
		}
	}
	.icon-duang{
		position: absolute;
		bottom:380px;
		left: 50%;
		margin-left: -82px;
	}
	.icon-smog{
		position: absolute;
		bottom: 104px;
		left: 50%;
		margin-left:-142px;
		color: #fff;
		z-index: 2;
		-webkit-transition:color 1100ms ease;
	}
	.background{
		position: relative;
		width: 100%;height: 100%;
		background-color: #36424b;
		.icon-wall{
			&:nth-child(1){
				position: absolute;
				left: 0;
				bottom: 270px;
			}
			&:nth-child(2){
				position: absolute;
				right: 30px;
				bottom: 330px;
			}
		}
	}
	.icon-brick2 {
		position: absolute;
		left: 0;
		bottom: 82px;
	}
	.icon-hongmao{
		position: absolute;
		bottom: 127px;
		height: 70px;
		left: 50%;
		margin-left: -25px;
		-webkit-transition:all 300ms linear;
	}
	.icon-jinmao{
		position: absolute;
		bottom: 228px;
		height: 75px;
		left: 50%;
		margin-left: -25px;
		-webkit-transition:bottom 500ms linear;
	}

	.icon-ground2 {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.icon-flower{
		position: absolute;
		top: 6px;
		left: -4px;
	}
	.icon-yellow-light {
		position: absolute;
		left: 50%;
		margin-left: -160px;
		bottom: 104px;
	}

	.icon-calendar3 {
		position: absolute;
		left: 50%;
		margin-left: -90px
	}
	.boot-gift-wrap{
		position: absolute;
		bottom: 230px;
		width: 100px;height: 116px;
	}
	.icon-brick{
		position: absolute;
		bottom: 10px;
		right: -56px;
		width: 100px
	}
	.icon-gold{
		position: absolute;
		bottom: 0;
		left: 0
	}
	.icon-tips-wrap{
		position: absolute;
		bottom: 152px;
		left: 50%;
		margin-left:-88px;
		width:48px;
		height: 58px;
	}
	.icon-arrow{
		position: absolute;
		top: 0;
		right: 0;
	}
	.icon-text{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.icon-speed{
		position: absolute;
		height: 102px;
		bottom: 105px;
		left: 50%;
		margin-left: -130px;
	}
	.icon-v-well{
		position: absolute;
		bottom: 118px;
		right: -1000px;
		-webkit-transition: right 2500ms linear;
	}
}
[data-pageid="4"] {
	z-index: 70;
	section{
		position: absolute;
		top: 0;left: 0;
		height: 100%;
		width: 100%;
		z-index: 3
	}
	.icon-brick2 {
		position: absolute;
		left: 0;
		bottom: 82px;
	}
	.icon-ground2 {
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.caption{
		color: #525f91
	}
	.icon-v-r-well{
		position: absolute;
		bottom: 118px;
		left: 0;
		z-index: 2;
		-webkit-transition: left 800ms linear;
	}
	.background{
		background-color: #212c34
	}
	.icon-mountain {
		position: absolute;
		bottom: 109px;
		left: 100%;
	}

	.icon-cloud {
		position: absolute;
		left: 100%;
		top: 85px;
		&.small {
			top: 35px;

		}
	}
	.icon-flag-wrap{
		position: absolute;
		bottom: 127px;
		width: 46px;
		height: 340px;
	}

	.icon-flag-brick{
		position: absolute;
		bottom: 0;left: 0;
	}
	.icon-flagpole{
		position: absolute;
		height: 250px;
		bottom: 23px;left: 16px;
	}
	.icon-flag{
		position: absolute;
		bottom: 213px;left: -20px;
		-webkit-transition: bottom 600ms linear;
	}
	.icon-castle-wrap{
		position: absolute;
		width: 218px;
		height: 158px;
		bottom: 127px;
		-webkit-transition: left 2000ms linear;
		-webkit-transform-origin: bottom;
		z-index: 1;
	}
	.icon-castle{
		position: absolute;
		bottom: 0;
		z-index: 1
	}

	.icon-jinmao-wrap{
		position: absolute;
		bottom: 122px;
		height: 75px;
		left: 0;
		z-index: 2;
		-webkit-transform-origin: 43px 0;
	}
	.icon-jinmao-wrap.flip{
		-webkit-transform: rotateY(180deg);
	}
	.icon-jinmao{
		position: absolute;
		top: 0;left: 0;
	}
	.icon-jinmao-hold{
		position: absolute;
		top: 0;left: 0;
	}
	.icon-castle-flag-wrap{
		position: absolute;
		width: 200px;
		height: 212px;
		bottom: 51px;
		opacity: 0;
		-webkit-transition: bottom,opacity 1000ms linear;
		-webkit-transform-origin: 50% 260px;
		.icon-flagpole{
			left:156px;
			height: 180px;
			top: 1px;
		}
	}
	.icon-castle-flag{
		position: absolute;
		bottom: 105px;
		right: 25px;
	}
	.s1{
		position: absolute;
		bottom: 121px;
		right: 0px;
	}
	.s2{
		position: absolute;
		bottom: 140px;
		right: 168px;
	}
	.s3{
		position: absolute;
		bottom: 200px;
		right: 108px;
	}
	.icon-global-speed1{
		position: absolute;
		top: 50%;left: 50%;
		margin-left: -300px;
		margin-top: -400px;
	}
	.icon-global-speed2{
		position: absolute;
		left: 50%;bottom: -80px;
		margin-left: -300px;

	}
	.icon-svip-title{
		position: absolute;
		top: 50px;
		left: 50%;
		margin-left: -116px;
	}
	.btn-open{
		position: absolute;
		top: 185px;
		left: 50%;
		margin-left: -124px;
	}
	.fire-canvas{
		position: relative;
		z-index: 2;
	}
	.icon-calendar3 {
		position: absolute;
		left: 50%;
		margin-left: -90px
	}
	.icon-calendar5 {
		position: absolute;
		left: 50%;
		margin-left: -90px
	}
}
@media screen and (max-height:480px) {
	.icon-svip-title{
		top: -4px!important;
	}
	.btn-open{
		top: 125px!important;
	}
	[data-pageid="3"] .icon-duang{
		bottom: 340px;
	}
}
.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #5fc0e6;
	z-index: 100
}
.loading .jinmao-load {
	position: absolute;
	top: 50%;
	margin-top: -52px;
	left: 50%;
	margin-left: -12px;
	width: 25px;
	height: 35px;
	background-image: url("../img/jinmao-load.png");
	background-position: 0 0;
	background-size: 25px auto
}
.progressbar_wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 193px;
	height: 50px;
	margin-left: -96px;
	margin-top: -25px
}
.progressbar_wrap .progressbar {
	position: absolute;
	top: 10px;
	left: 50%;
	width: 180px;
	margin-left: -90px;
	height: 20px;
	overflow: hidden
}
.progressbar_wrap .bar_wrap {
	position: relative;
	width: 176px;
	height: 16px;
	border: 2px solid #000;
	border-radius: 10px;
	z-index: 1;
	overflow: hidden
}
.progressbar_wrap .bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	background: #fe6372 url(../img/rp.png) repeat-x right 0;
	background-size: 28px auto;
	border-radius: 8px;
	overflow: hidden;
	-webkit-transition:width 300ms ease-out;
	-webkit-animation: ani_progress 1.5s linear infinite
}
.progressbar_wrap .progress-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 13px;
	color: #fff;
	text-align: center
}
@-webkit-keyframes ani_progress {
	0% {
		background-position: 5px 0
	}
	100% {
		background-position: 118px 0
	}
}